body{
  background:#aa36e0;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color:#9053c7 ;
  border-color: #9053c7;
}
.navbar-default .navbar-brand {
  color: #9c1bcf;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c325c9;
}
.navbar-default .navbar-text {
  color: #8a1abe;
}
.navbar-default .navbar-nav > li > a {
  color: #673cdd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b726ca;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #8723ca;
  background-color: #c41bd3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cc0da3;
  background-color: #9d23ce;
}
.navbar-default .navbar-toggle {
  border-color: #c910a1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #bc0ec2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c0107c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c719c7;
}
.navbar-default .navbar-link {
  color: #cc15bd;
}
.navbar-default .navbar-link:hover {
  color: #981edf;
}

/* Custom */
.main-color-bg{
  background-color: #b81bb0 !important;
  border-color: #b01fd4 !important;
  color:#dd34b3 !important;
}

/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d317c3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8a2ed6;
    background-color: #c91ec0;
  }
}
